<h1>{{ title }}</h1>

<div *ngIf="emptyCart" class="row">
    <p class="lead">
        Your cart is empty.
    </p>
</div>
<div *ngIf="emptyCart===false" class="row">
    <div class="col-xs-12" *ngIf="isOrderComplete">
        <p class="lead">Thank you for ordering!</p>
    </div>
    <div *ngFor="let line of model.lines;" class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <h2>{{line.event.name}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-4">
                <p class="lead">Date: {{line.event.date | date: 'MM/dd/yyyy'}}</p>
            </div>
            <div class="col-md-4">
                <p class="lead">Time: {{line.event.date | date: 'h:mm:ss a'}}</p>
            </div>
        </div>
        <div *ngFor="let ticket of line.tickets;" class="row">

            <div class="col-md-3 col-xs-6 col-md-offset-2 ">
                <p><label>Section:</label> {{ticket.section}}</p>
            </div>
            <div class="col-md-2  col-xs-6">
                <p><label>Row:</label> {{ticket.row}}</p>
            </div>
            <div class="col-md-2  col-xs-6">
                <p><label>Seat:</label> {{ticket.seat}}</p>
            </div>
            <div class="col-md-2  col-xs-6">
                <p><label>Cost:</label> ${{ticket.cost}}</p>
            </div>
            <div *ngIf="!isOrderComplete" class="col-xs-6 col-md-1 glyphicon glyphicon-remove red" (click)="remove(ticket)"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-10 col-md-2 col-xs-offset-6 col-xs-6">
            <p class="lead"><label>Total:</label> ${{ model.total }}</p>
        </div>
    </div>
    <div *ngIf="isOrderComplete===false">
        <div *ngIf="isCheckingOut===false" class="row">
            <div class="col-md-offset-10 col-md-2 col-xs-offset-6 col-xs-6">
                <button class="btn btn-primary" (click)="initCheckout()">Checkout</button>
            </div>
        </div>
        <form *ngIf="isCheckingOut" (ngSubmit)="placeOrder()"  #orderForm='ngForm'>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-error': cardNumber.errors && (cardNumber.dirty || cardNumber.touched)}">
                        <label for="creditcard">Credit Card Number</label>
                        <input required pattern='[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]*' [(ngModel)]="creditcard" class="form-control" type="text" id="creditcard" name="creditcard" #cardNumber="ngModel"/>
                    </div>
                    <div *ngIf="cardNumber.errors && (cardNumber.dirty || cardNumber.touched)" class="alert alert-danger">
                        <div [hidden]="!cardNumber.errors.required">
                            Credit Card Number is required
                        </div>
                        <div [hidden]="cardNumber.errors.required">
                            Please enter a valid credit card number
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" [ngClass]="{'has-error': expMonth.errors && (expMonth.dirty || expMonth.touched)}">
                        <label for="expirationmonth">Expiration Month</label>
                        <select required class="form-control" id="expirationmonth" name="expirationmonth" [(ngModel)]="expirationMonth" #expMonth="ngModel">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <div *ngIf="expMonth.errors && (expMonth.dirty || expMonth.touched)" class="alert alert-danger">
                            <div [hidden]="!expMonth.errors.required">
                                Expiration Month is required
                            </div>
                        </div>
                    </div>
                    </div>
                <div class="col-md-3">
                    <div class="form-group" [ngClass]="{'has-error': expYear.errors && (expYear.dirty || expYear.touched)}">
                        <label for="expirationyear">Expiration Year</label>
                        <select required class="form-control" type="text" id="expirationyear" name="expirationyear" [(ngModel)]="expirationYear" #expYear="ngModel">
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                        </select>
                        <div *ngIf="expYear.errors && (expYear.dirty || expYear.touched)" class="alert alert-danger">
                            <div [hidden]="!expYear.errors.required">
                                Expiration Year is required
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <legend>Shipment Type</legend>
                        <div class="row">
                            <div class="col-xs-6">
                                <label class="radio-inline">
                                    <input type="radio" name="shipType" id="shipTypeWillCall" value="0" [(ngModel)]="shipType"> Will Call
                                </label>
                            </div>
                            <div class="col-xs-6">
                                <label class="radio-inline">
                                    <input type="radio" name="shipType" id="shipTypeShipped" value="1" [(ngModel)]="shipType"> Shipped
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 bg-info ship-helper">
                    <p class="lead" *ngIf="shipType==='0'">Will call tickets are available five days before the event.</p>
                    <p class="lead" *ngIf="shipType==='1'">We will ship to your address on file:</p>
                    <p *ngIf="shipType==='1'">
                        {{account.name}}
                        <br/>
                        {{account.address1}}
                        <br/>
                        {{account.address2}}
                    </p>
                    <p *ngIf="shipType==='1'">If this is incorrect, please update your <a routerLink="/profile">profile</a></p>.
                </div>
                <div class="col-md-2 col-md-offset-4">
                    <button [disabled]='!orderForm.form.valid' type='submit' class="btn btn-primary">Place order</button>
                </div>
            </div>
        </form>
    </div>
</div>