<form (ngSubmit)="createAccount()" method="post">
    <label>Username</label><input type="text" [(ngModel)]="model.username" name="username"/>
    <br/>
    <label>Name</label><input type="text" [(ngModel)]="model.name" name="name"/>
    <br/>
    <label>Email</label><input type="email" [(ngModel)]="model.email" name="email"/>
    <br/>
    <label>Address 1</label><input type="text" [(ngModel)]="model.address1" name="address1"/>
    <br/>
    <label>Address 2</label><input type="text" [(ngModel)]="model.address2" name="address2"/>
    <br/>
    <label>Password</label><input type="password" [(ngModel)]="model.password" name="password"/>
    <br/>
    <label>Confirm Password</label><input type="password" [(ngModel)]="model.confirmpassword" name="confirmpassword"/>
    <br/>
    <button type="submit">Submit</button>
</form>