<div class="row">
    <div class="col-xs-12">
        <h1>Profile</h1>
    </div>
</div>

<div class="col-md-12">
    <form (ngSubmit)="updateProfile()"  #accountForm='ngForm'>
        <fieldset>
            <legend>Update Profile</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-error': name.errors && (name.dirty || name.touched)}">
                        <label for="name">Name</label>
                        <input required class="form-control" type="text" [(ngModel)]="model.name" id="name" name="name"  #name="ngModel" />
                        <div *ngIf="name.errors && (name.dirty || name.touched)"
                             class="alert alert-danger">
                            <div [hidden]="!name.errors.required">
                                Name is required
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class="form-group" [ngClass]="{'has-error': email.errors && (email.dirty || email.touched)}">
                        <label for="email">Email</label>
                        <input pattern=".*@.*\...*" required class="form-control" type="email" [(ngModel)]="model.email" id="email" name="email" #email="ngModel" />
                        <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                            <div [hidden]="!email.errors.required">
                                Email is required
                            </div>
                            <div [hidden]="email.errors.required">
                                Please enter a valid email address
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-md-6'>
                    <div class="form-group" [ngClass]="{'has-error': address1.errors && (address1.dirty || address1.touched)}">
                        <label for="address1">Address 1</label>
                        <input required class="form-control" type="text" [(ngModel)]="model.address1" id="address1" name="address1"  #address1="ngModel" />
                        <div *ngIf="address1.errors && (address1.dirty || address1.touched)"
                             class="alert alert-danger">
                            <div [hidden]="!address1.errors.required">
                                Address is required
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class="form-group">
                        <label for="address2">Address 2</label>
                        <input class="form-control" type="text" [(ngModel)]="model.address2" id="address2" name="address2"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-9 col-md-3">
                    <button type="submit" class="btn btn-primary" [disabled]='!accountForm.form.valid'>Update</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>