<div class="col-md-12">
    <h1>Profile</h1>
</div>

<div class="col-md-12">
    <form (ngSubmit)="updateProfile()">
        <fieldset>
            <legend>Update Profile</legend>
            <div class="col-md-12">
                <label>Name</label><input type="text" [(ngModel)]="model.name" name="name"/>
            </div>
            <div class="col-md-12">
                <label>Address 1</label><input type="text" [(ngModel)]="model.address1" name="address1" />
            </div>
            <div class="col-md-12">
                <label>Address 2</label><input type="text" [(ngModel)]="model.address2" name="address2"/>
            </div>
            <div class="col-md-12">
                <label>Email</label><input type="email" [(ngModel)]="model.email"  name="email" />
            </div>
            <button type="submit">Update</button>
        </fieldset>
    </form>
</div>