<div class="row">
    <div class="col-xs-12">
        <h1>Profile</h1>
    </div>
</div>

<div class="col-md-12">
    <form (ngSubmit)="updateProfile()">
        <fieldset>
            <legend>Update Profile</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" type="text" [(ngModel)]="model.name" id="name" name="name"/>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" type="email" [(ngModel)]="model.email" id="email" name="email"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-md-6'>
                    <div class="form-group">
                        <label for="address1">Address 1</label>
                        <input class="form-control" type="text" [(ngModel)]="model.address1" id="address1" name="address1"/>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class="form-group">
                        <label for="address2">Address 2</label>
                        <input class="form-control" type="text" [(ngModel)]="model.address2" id="address2" name="address2"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-9 col-md-3">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>